h1 
{
    font-size:2.5em;
    text-align: center;
    font-style: oblique;
    line-height: 2em;
}

h3
{
    font-size:1.875em;
    font-style:oblique;
    line-height: 1.5em;
}

body
{
    background-color:rgb(130, 145, 194);
    color:rgb(19, 19, 83);
    font-family:Arial, Helvetica, sans-serif;
}

h6
{
    font-weight: normal;
}

strong
{
    color:black;
}

em
{
    color:black;
}

#squid
{
    color:aqua;
}

#aboutSection
{
    color:aqua;
}

header
{
    color:rgb(179, 21, 21);
}

h4
{
    text-align:center;
}

#main
{
    font-size:1.25em;
}

#footer
{
    color:black;
}